.employee-photo{
    height: 160px;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid #ccc;
    background: #eee;
    width: 140px;
    margin: 0 auto
}

.photo > input[type='file']{
    display: none;
}

.photo{
    width: 30px;
    height: 30px;
    border-radius: 100%;

}

.employee-id{
    background-repeat: repeat-x;
    border-color: #ccc;
    padding: 5px;
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #ccc;
}

.btn-browse{
    border-color: #ccc;
    padding: 5px;
    text-align: center;
    /*background: #eee;*/
    border: none;
    border-top: 1px solid #ccc;
}
fieldset{
    margin-top: 5px;
}
fieldset legend{
    display: block;
    width: 100%;
    padding: 0;
    font-size: 15px;
    line-height: inherit;
    color: #797979;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
